<br>
<div class="container">
  <div class="well-block">
    <div class="well-title">

      <div class="card" style="border-radius: 10px" *ngIf="book != null">
        <div class="card-header text-center">
          <h3>{{book.title}}</h3>
        </div>
        <br>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4 container-fluid">
            <img src="{{this.book.picture}}" class="card-img" alt="...">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <div class="card-body">
              <span><strong>Auteur: </strong> {{book.author}}</span>
              <hr>
              <span><strong>Edité par:</strong>  {{book.editor}} | {{book.parution | date: 'yyyy'}}</span>
              <hr>
              <span><strong>Genre:</strong> {{book.gender}}</span>
              <hr>
              <span class="card-text"><strong>Description de l'ouvrage:</strong> {{book.description}}</span>
            </div>
          </div>
        </div>
        <br>

          <table class="table table-responsive">
            <table class="table table-hover table-condensed table-striped text-center">
              <thead class="book">
              <tr>
                <th>ID</th>
                <th>Ouvrage</th>
                <th>Disponibilité</th>
                <th>Site</th>
                <th>Réservation</th>
              </tr>
              </thead>
              <tbody>
              <tr class="clickableRow"  *ngFor="let book of books">
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td>{{book.avaible ? 'Disponible' : 'Non disponible'}}</td>
                <td>{{book.libraryName}}</td>
                <td *ngIf="checkBookDisponibility(book) == false && checkMyReservation(book) == false || checkAvaibleReservation(book) == false && checkMyReservation(book) == false">Réservation impossible</td>
                <td *ngIf="checkBookDisponibility(book) == true && checkAvaibleReservation(book) == true"><button type="button" class="btn-danger"(click)="createReservation(this.book)">Réserver</button></td>
                <td *ngIf="checkMyReservation(book) == true"><button type="button" class="btn-danger" (click)="deleteReservation(this.book)">Annuler la réservation</button></td>
              </tr>
              </tbody>
            </table>
          </table>

      </div>
      <br>

      <div class *ngIf="book == null">
        <p>Oups... Ya un soucis !</p>
      </div>

    </div>
  </div>
</div>

